.emails_index {
    display: grid;
    grid-template-areas: "nav search"
        "nav list";
    grid-template-columns: 80px 1fr;
    grid-template-rows: 100px 1fr ;
    width: 100%;

}

.email-filter {
    grid-area: search;
    margin-left: 20px;

}

.boxSearch {
    border-radius: 5px 5px 5px 5px;
    width: 250px;
    background-color: #eaf1fb;
    min-height: 48px;
    border-color: #eaf1fb;
    position: relative;


}

.BtnboxSearch {
    border-radius: 5px 5px 5px 5px;
    width: 75px;
    font-weight: bold;
    margin-left: 10px;
    border-color:white;

}

.EmailNav .EmailNavoption {
    grid-area: nav;
    background-color: rgb(236, 232, 232);
    /* background: linear-gradient(250deg, #bbbbbb 60%, #e4e4e4 90%); */
    height: 100vh;
    
}
.EmailNav .btnread{
    height: 25px;
    /* padding: 0 0 0 20px; */
    min-width: 80px;
    text-align: center;
    background-color: rgb(175, 175, 175);
    border-color:rgb(175, 175, 175);
    color: #2e353a;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

}

.EmailNav .btnunread{
    height: 25px;
    /* padding: 0 0 0 20px; */
    min-width: 80px;
    text-align: center;
    background-color: rgb(175, 175, 175);
    border-color:rgb(175, 175, 175);
    color: #2e353a;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

}
.EmailNav .btnallmail{
    height: 25px;
    margin-top: 15px;

    /* padding: 0 0 0 20px; */
    min-width: 80px;
    text-align: center;
    background-color: rgb(175, 175, 175);
    border-color:rgb(175, 175, 175);
    color: #2e353a;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

}

.EmailNav .btnstar{
    height: 25px;
    /* padding: 0 0 0 20px; */
    min-width: 80px;
    text-align: center;
    background-color: rgb(175, 175, 175);
    border-color:rgb(175, 175, 175);
    color: #2e353a;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

}
.EmailNav  .btndraft{
    height: 25px;
    /* padding: 0 0 0 20px; */
    min-width: 80px;
    text-align: center;
    background-color: rgb(175, 175, 175);
    border-color:rgb(175, 175, 175);
    color: #2e353a;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
} 
.EmailNav  .btnsentmail{
    height: 25px;
    /* padding: 0 0 0 20px; */
    min-width: 80px;
    text-align: center;
    background-color: rgb(175, 175, 175);
    border-color:rgb(175, 175, 175);
    color: #2e353a;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
} 
.EmailNav  .btndraf{
    height: 25px;
    /* padding: 0 0 0 20px; */
    min-width: 80px;
    text-align: center;
    background-color: rgb(175, 175, 175);
    border-color:rgb(175, 175, 175);
    color: #2e353a;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
} 
.EmailNav  .btnbinmail{
    height: 25px;
    /* padding: 0 0 0 20px; */
    min-width: 80px;
    text-align: center;
    background-color: rgb(175, 175, 175);
    border-color:rgb(175, 175, 175);
    color: #2e353a;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
} 




.EmailNav .btncompose:hover, .btnstar:hover, .btnallmail:hover,.btnunread:hover,.btnread:hover, .btndraft:hover,
.btnbinmail:hover,.btndraf:hover,.btnsentmail:hover{
    background-color: rgb(226, 226, 226);
}

.EmailNav .btncompose{
    height: 56px;
    /* padding: 0 0 0 20px; */
    min-width: 80px;
    text-align: center;
    background-color: rgb(191, 202, 238);;
    border-color:rgb(191, 202, 238);
    border-radius: 256px;
    color: #2e353a;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
} 



/* .btnCompose{
background-color: rgb(163, 168, 169);
border-radius: 15%;
width: 80px;
font-size: 18px;
} */

.email-list {
    grid-area: list;
    width: 100%;
    padding: 0;
}

.emails_index>span back a {
    text-align: right;
    text-decoration: none;


}

.email-index>span back a:hover {
    color: rgb(135, 181, 207);

}